In [242]:
import pandas as pd
import numpy as np

In [243]:
file_path = 'C:\\Users\\CHIMURA\\Desktop\\DataEngineering\\Covid19Data.csv'

In [244]:
df = pd.read_csv(file_path)

In [245]:
#1.Organizes the dataset in form of a two-dimensional data structure

In [246]:
df

   state  positive  deaths    modified   total pos %
0     NY     92381  2373.0   4/2 09:45  238965   39%
1     NJ     25590   537.0   4/2 11:00   59110   43%
2     MI     10791   417.0   4/2 09:00   22684   48%
3     CA      9191   203.0   4/1 22:00   33000   28%
4     LA      9150   310.0   4/2 11:00   51086   18%
5     MA      8966   154.0   4/2 14:00   56608   16%
6     FL      8010   128.0   4/2 09:01   77296   10%
7     IL      7695   157.0   4/1 22:00   43656   18%
8     PA      7016    90.0   4/2 10:00   54714   13%
9     WA      5984   247.0   4/1 18:00   74798    8%
10    GA      5348   163.0   4/2 09:28   22957   23%
11    TX      4669    70.0   4/1 19:00   50679    9%
12    CT      3824   112.0   4/2 13:30   18300   21%
13    CO      3342    80.0   4/1 16:00   18645   18%
14    IN      3039    78.0   4/1 21:59   16285   19%
15    OH      2902    81.0   4/2 12:00   34918    8%
16    TN      2845    32.0   4/2 13:00   34611    8%
17    MD      2331    36.0   4/2 08:00   21221   11%
18    NC      1857    16.0   4/2 12:00   28679    6%
19    MO      1834    19.0   4/2 13:00   19683    9%
20    WI      1730    31.0   4/2 14:00   22047    8%
21    VA      1706    41.0   4/2 07:00   17589   10%
22    AZ      1598    32.0   4/1 22:00   22709    7%
23    SC      1554    31.0   4/2 14:04    6995   22%
24    NV      1458    38.0   4/2 07:30   14046   10%
25    AL      1233    32.0   4/1 22:00    8736   14%
26    MS      1177    26.0   4/1 17:00    5930   20%
27    UT      1074     7.0   4/2 13:00   21065    5%
28    OK       879    34.0   4/1 06:00    2144   41%
29    MN       742    18.0   4/2 10:00   22394    3%
30    OR       736    19.0   4/1 09:00   14868    5%
31    KY       680    20.0   4/1 15:00    7900    9%
32    ID       669     9.0   4/1 17:00    7282    9%
33    RI       657    12.0   4/2 13:58    5069   13%
34    DC       653    12.0   4/2 07:00    5070   13%
35    AR       643    12.0   4/2 12:45    8523    8%
36    IA       614    11.0   4/1 22:00    8668    7%
37    KS       552    13.0   4/2 10:00    6611    8%
38    NH       415     4.0   4/1 07:00    6493    6%
39    DE       393    12.0   4/2 14:45    4959    8%
40    ME       376     7.0   4/2 08:00    6464    6%
41    NM       363     6.0  3/31 22:00   14011    3%
42    VT       338    17.0   4/2 11:00    5049    7%
43    PR       316    12.0   4/2 05:00    1920   16%
44    HI       258     1.0   4/1 16:00   10464    2%
45    NE       246     5.0   4/2 12:00    4224    6%
46    MT       227     5.0   4/2 08:00    5320    4%
47    WV       217     2.0   4/1 22:17    5493    4%
48    SD       165     2.0   4/1 16:00    4382    4%
49    ND       159     3.0   4/2 10:56    4980    3%
50    WY       150     0.0   4/2 08:30    2589    6%
51    AK       143     3.0   4/1 19:00    5022    3%
52    GU        82     3.0   4/2 06:30     524   16%
53    VI        33     NaN   4/2 07:30     182   18%
54    MP         8     1.0   4/2 01:00      21   38%
55    AS         0     0.0  3/30 21:00      20    0%

In [247]:
# Task 2 - Check if data has duplicate and if exist remove the duplicate

In [248]:
duplicates = df.duplicated()

In [249]:
print("Rows with duplicates:")
df[duplicates]

Rows with duplicates:

Empty DataFrame
Columns: [state, positive, deaths, modified, total, pos %]
Index: []

In [250]:
df_no_duplicates = df.drop_duplicates()

In [251]:
print("DataFrame without duplicates:")
df_no_duplicates

DataFrame without duplicates:

   state  positive  deaths    modified   total pos %
0     NY     92381  2373.0   4/2 09:45  238965   39%
1     NJ     25590   537.0   4/2 11:00   59110   43%
2     MI     10791   417.0   4/2 09:00   22684   48%
3     CA      9191   203.0   4/1 22:00   33000   28%
4     LA      9150   310.0   4/2 11:00   51086   18%
5     MA      8966   154.0   4/2 14:00   56608   16%
6     FL      8010   128.0   4/2 09:01   77296   10%
7     IL      7695   157.0   4/1 22:00   43656   18%
8     PA      7016    90.0   4/2 10:00   54714   13%
9     WA      5984   247.0   4/1 18:00   74798    8%
10    GA      5348   163.0   4/2 09:28   22957   23%
11    TX      4669    70.0   4/1 19:00   50679    9%
12    CT      3824   112.0   4/2 13:30   18300   21%
13    CO      3342    80.0   4/1 16:00   18645   18%
14    IN      3039    78.0   4/1 21:59   16285   19%
15    OH      2902    81.0   4/2 12:00   34918    8%
16    TN      2845    32.0   4/2 13:00   34611    8%
17    MD      2331    36.0   4/2 08:00   21221   11%
18    NC      1857    16.0   4/2 12:00   28679    6%
19    MO      1834    19.0   4/2 13:00   19683    9%
20    WI      1730    31.0   4/2 14:00   22047    8%
21    VA      1706    41.0   4/2 07:00   17589   10%
22    AZ      1598    32.0   4/1 22:00   22709    7%
23    SC      1554    31.0   4/2 14:04    6995   22%
24    NV      1458    38.0   4/2 07:30   14046   10%
25    AL      1233    32.0   4/1 22:00    8736   14%
26    MS      1177    26.0   4/1 17:00    5930   20%
27    UT      1074     7.0   4/2 13:00   21065    5%
28    OK       879    34.0   4/1 06:00    2144   41%
29    MN       742    18.0   4/2 10:00   22394    3%
30    OR       736    19.0   4/1 09:00   14868    5%
31    KY       680    20.0   4/1 15:00    7900    9%
32    ID       669     9.0   4/1 17:00    7282    9%
33    RI       657    12.0   4/2 13:58    5069   13%
34    DC       653    12.0   4/2 07:00    5070   13%
35    AR       643    12.0   4/2 12:45    8523    8%
36    IA       614    11.0   4/1 22:00    8668    7%
37    KS       552    13.0   4/2 10:00    6611    8%
38    NH       415     4.0   4/1 07:00    6493    6%
39    DE       393    12.0   4/2 14:45    4959    8%
40    ME       376     7.0   4/2 08:00    6464    6%
41    NM       363     6.0  3/31 22:00   14011    3%
42    VT       338    17.0   4/2 11:00    5049    7%
43    PR       316    12.0   4/2 05:00    1920   16%
44    HI       258     1.0   4/1 16:00   10464    2%
45    NE       246     5.0   4/2 12:00    4224    6%
46    MT       227     5.0   4/2 08:00    5320    4%
47    WV       217     2.0   4/1 22:17    5493    4%
48    SD       165     2.0   4/1 16:00    4382    4%
49    ND       159     3.0   4/2 10:56    4980    3%
50    WY       150     0.0   4/2 08:30    2589    6%
51    AK       143     3.0   4/1 19:00    5022    3%
52    GU        82     3.0   4/2 06:30     524   16%
53    VI        33     NaN   4/2 07:30     182   18%
54    MP         8     1.0   4/2 01:00      21   38%
55    AS         0     0.0  3/30 21:00      20    0%

In [252]:
# hence there are no duplicates in the provided dataset.

In [253]:
# Task 3 - Show last 100 row in new data-frames  and sort the data in descending order for based on the death rate of the dataset ?

In [254]:
df['DeathRate'] = df['deaths'] / df['total']
last_100_rows = df.tail(100)
sorted_df = last_100_rows.sort_values(by='DeathRate', ascending=False)
print("Last 100 rows:")
last_100_rows

Last 100 rows:

   state  positive  deaths    modified   total pos %  DeathRate
0     NY     92381  2373.0   4/2 09:45  238965   39%   0.009930
1     NJ     25590   537.0   4/2 11:00   59110   43%   0.009085
2     MI     10791   417.0   4/2 09:00   22684   48%   0.018383
3     CA      9191   203.0   4/1 22:00   33000   28%   0.006152
4     LA      9150   310.0   4/2 11:00   51086   18%   0.006068
5     MA      8966   154.0   4/2 14:00   56608   16%   0.002720
6     FL      8010   128.0   4/2 09:01   77296   10%   0.001656
7     IL      7695   157.0   4/1 22:00   43656   18%   0.003596
8     PA      7016    90.0   4/2 10:00   54714   13%   0.001645
9     WA      5984   247.0   4/1 18:00   74798    8%   0.003302
10    GA      5348   163.0   4/2 09:28   22957   23%   0.007100
11    TX      4669    70.0   4/1 19:00   50679    9%   0.001381
12    CT      3824   112.0   4/2 13:30   18300   21%   0.006120
13    CO      3342    80.0   4/1 16:00   18645   18%   0.004291
14    IN      3039    78.0   4/1 21:59   16285   19%   0.004790
15    OH      2902    81.0   4/2 12:00   34918    8%   0.002320
16    TN      2845    32.0   4/2 13:00   34611    8%   0.000925
17    MD      2331    36.0   4/2 08:00   21221   11%   0.001696
18    NC      1857    16.0   4/2 12:00   28679    6%   0.000558
19    MO      1834    19.0   4/2 13:00   19683    9%   0.000965
20    WI      1730    31.0   4/2 14:00   22047    8%   0.001406
21    VA      1706    41.0   4/2 07:00   17589   10%   0.002331
22    AZ      1598    32.0   4/1 22:00   22709    7%   0.001409
23    SC      1554    31.0   4/2 14:04    6995   22%   0.004432
24    NV      1458    38.0   4/2 07:30   14046   10%   0.002705
25    AL      1233    32.0   4/1 22:00    8736   14%   0.003663
26    MS      1177    26.0   4/1 17:00    5930   20%   0.004384
27    UT      1074     7.0   4/2 13:00   21065    5%   0.000332
28    OK       879    34.0   4/1 06:00    2144   41%   0.015858
29    MN       742    18.0   4/2 10:00   22394    3%   0.000804
30    OR       736    19.0   4/1 09:00   14868    5%   0.001278
31    KY       680    20.0   4/1 15:00    7900    9%   0.002532
32    ID       669     9.0   4/1 17:00    7282    9%   0.001236
33    RI       657    12.0   4/2 13:58    5069   13%   0.002367
34    DC       653    12.0   4/2 07:00    5070   13%   0.002367
35    AR       643    12.0   4/2 12:45    8523    8%   0.001408
36    IA       614    11.0   4/1 22:00    8668    7%   0.001269
37    KS       552    13.0   4/2 10:00    6611    8%   0.001966
38    NH       415     4.0   4/1 07:00    6493    6%   0.000616
39    DE       393    12.0   4/2 14:45    4959    8%   0.002420
40    ME       376     7.0   4/2 08:00    6464    6%   0.001083
41    NM       363     6.0  3/31 22:00   14011    3%   0.000428
42    VT       338    17.0   4/2 11:00    5049    7%   0.003367
43    PR       316    12.0   4/2 05:00    1920   16%   0.006250
44    HI       258     1.0   4/1 16:00   10464    2%   0.000096
45    NE       246     5.0   4/2 12:00    4224    6%   0.001184
46    MT       227     5.0   4/2 08:00    5320    4%   0.000940
47    WV       217     2.0   4/1 22:17    5493    4%   0.000364
48    SD       165     2.0   4/1 16:00    4382    4%   0.000456
49    ND       159     3.0   4/2 10:56    4980    3%   0.000602
50    WY       150     0.0   4/2 08:30    2589    6%   0.000000
51    AK       143     3.0   4/1 19:00    5022    3%   0.000597
52    GU        82     3.0   4/2 06:30     524   16%   0.005725
53    VI        33     NaN   4/2 07:30     182   18%        NaN
54    MP         8     1.0   4/2 01:00      21   38%   0.047619
55    AS         0     0.0  3/30 21:00      20    0%   0.000000

In [255]:
print("\nSorted data based on DeathRate in descending order:")
sorted_df

Sorted data based on DeathRate in descending order:

   state  positive  deaths    modified   total pos %  DeathRate
54    MP         8     1.0   4/2 01:00      21   38%   0.047619
2     MI     10791   417.0   4/2 09:00   22684   48%   0.018383
28    OK       879    34.0   4/1 06:00    2144   41%   0.015858
0     NY     92381  2373.0   4/2 09:45  238965   39%   0.009930
1     NJ     25590   537.0   4/2 11:00   59110   43%   0.009085
10    GA      5348   163.0   4/2 09:28   22957   23%   0.007100
43    PR       316    12.0   4/2 05:00    1920   16%   0.006250
3     CA      9191   203.0   4/1 22:00   33000   28%   0.006152
12    CT      3824   112.0   4/2 13:30   18300   21%   0.006120
4     LA      9150   310.0   4/2 11:00   51086   18%   0.006068
52    GU        82     3.0   4/2 06:30     524   16%   0.005725
14    IN      3039    78.0   4/1 21:59   16285   19%   0.004790
23    SC      1554    31.0   4/2 14:04    6995   22%   0.004432
26    MS      1177    26.0   4/1 17:00    5930   20%   0.004384
13    CO      3342    80.0   4/1 16:00   18645   18%   0.004291
25    AL      1233    32.0   4/1 22:00    8736   14%   0.003663
7     IL      7695   157.0   4/1 22:00   43656   18%   0.003596
42    VT       338    17.0   4/2 11:00    5049    7%   0.003367
9     WA      5984   247.0   4/1 18:00   74798    8%   0.003302
5     MA      8966   154.0   4/2 14:00   56608   16%   0.002720
24    NV      1458    38.0   4/2 07:30   14046   10%   0.002705
31    KY       680    20.0   4/1 15:00    7900    9%   0.002532
39    DE       393    12.0   4/2 14:45    4959    8%   0.002420
33    RI       657    12.0   4/2 13:58    5069   13%   0.002367
34    DC       653    12.0   4/2 07:00    5070   13%   0.002367
21    VA      1706    41.0   4/2 07:00   17589   10%   0.002331
15    OH      2902    81.0   4/2 12:00   34918    8%   0.002320
37    KS       552    13.0   4/2 10:00    6611    8%   0.001966
17    MD      2331    36.0   4/2 08:00   21221   11%   0.001696
6     FL      8010   128.0   4/2 09:01   77296   10%   0.001656
8     PA      7016    90.0   4/2 10:00   54714   13%   0.001645
22    AZ      1598    32.0   4/1 22:00   22709    7%   0.001409
35    AR       643    12.0   4/2 12:45    8523    8%   0.001408
20    WI      1730    31.0   4/2 14:00   22047    8%   0.001406
11    TX      4669    70.0   4/1 19:00   50679    9%   0.001381
30    OR       736    19.0   4/1 09:00   14868    5%   0.001278
36    IA       614    11.0   4/1 22:00    8668    7%   0.001269
32    ID       669     9.0   4/1 17:00    7282    9%   0.001236
45    NE       246     5.0   4/2 12:00    4224    6%   0.001184
40    ME       376     7.0   4/2 08:00    6464    6%   0.001083
19    MO      1834    19.0   4/2 13:00   19683    9%   0.000965
46    MT       227     5.0   4/2 08:00    5320    4%   0.000940
16    TN      2845    32.0   4/2 13:00   34611    8%   0.000925
29    MN       742    18.0   4/2 10:00   22394    3%   0.000804
38    NH       415     4.0   4/1 07:00    6493    6%   0.000616
49    ND       159     3.0   4/2 10:56    4980    3%   0.000602
51    AK       143     3.0   4/1 19:00    5022    3%   0.000597
18    NC      1857    16.0   4/2 12:00   28679    6%   0.000558
48    SD       165     2.0   4/1 16:00    4382    4%   0.000456
41    NM       363     6.0  3/31 22:00   14011    3%   0.000428
47    WV       217     2.0   4/1 22:17    5493    4%   0.000364
27    UT      1074     7.0   4/2 13:00   21065    5%   0.000332
44    HI       258     1.0   4/1 16:00   10464    2%   0.000096
50    WY       150     0.0   4/2 08:30    2589    6%   0.000000
55    AS         0     0.0  3/30 21:00      20    0%   0.000000
53    VI        33     NaN   4/2 07:30     182   18%        NaN

In [256]:
# Assignment with different dataset

In [257]:
file_path = 'C:\\Users\\CHIMURA\\Desktop\\DataEngineering\\all-states-history.csv'

In [258]:
df = pd.read_csv(file_path)

In [259]:
#1 Organizes the dataset in form of a two-dimensional data structure

In [260]:
df

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,3/7/2021,AK,305.0,NaN,0,NaN,1293.0,1293.0,33.0,0,...,1731628.0,0,NaN,NaN,NaN,NaN,NaN,0,1731628.0,0
1,3/7/2021,AL,10148.0,7963.0,-1,2185.0,45976.0,45976.0,494.0,0,...,2323788.0,2347,NaN,NaN,119757.0,NaN,2323788.0,2347,NaN,0
2,3/7/2021,AR,5319.0,4308.0,22,1011.0,14926.0,14926.0,335.0,11,...,2736442.0,3380,NaN,NaN,NaN,481311.0,NaN,0,2736442.0,3380
3,3/7/2021,AS,0.0,NaN,0,NaN,NaN,NaN,NaN,0,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,3/7/2021,AZ,16328.0,14403.0,5,1925.0,57907.0,57907.0,963.0,44,...,7908105.0,45110,580569.0,NaN,444089.0,NaN,3842945.0,14856,7908105.0,45110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20775,1/17/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20776,1/16/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20777,1/15/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20778,1/14/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20779,1/13/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [261]:
# Task 2 - Check if data has duplicate and if exist remove the duplicate

In [262]:
duplicates = df.duplicated()

In [263]:
print("Rows with duplicates:")
df[duplicates]

Rows with duplicates:

Empty DataFrame
Columns: [date, state, death, deathConfirmed, deathIncrease, deathProbable, hospitalized, hospitalizedCumulative, hospitalizedCurrently, hospitalizedIncrease, inIcuCumulative, inIcuCurrently, negative, negativeIncrease, negativeTestsAntibody, negativeTestsPeopleAntibody, negativeTestsViral, onVentilatorCumulative, onVentilatorCurrently, positive, positiveCasesViral, positiveIncrease, positiveScore, positiveTestsAntibody, positiveTestsAntigen, positiveTestsPeopleAntibody, positiveTestsPeopleAntigen, positiveTestsViral, recovered, totalTestEncountersViral, totalTestEncountersViralIncrease, totalTestResults, totalTestResultsIncrease, totalTestsAntibody, totalTestsAntigen, totalTestsPeopleAntibody, totalTestsPeopleAntigen, totalTestsPeopleViral, totalTestsPeopleViralIncrease, totalTestsViral, totalTestsViralIncrease]
Index: []

[0 rows x 41 columns]

In [264]:
df_no_duplicates = df.drop_duplicates()

In [265]:
print("DataFrame without duplicates:")
df_no_duplicates

DataFrame without duplicates:

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,3/7/2021,AK,305.0,NaN,0,NaN,1293.0,1293.0,33.0,0,...,1731628.0,0,NaN,NaN,NaN,NaN,NaN,0,1731628.0,0
1,3/7/2021,AL,10148.0,7963.0,-1,2185.0,45976.0,45976.0,494.0,0,...,2323788.0,2347,NaN,NaN,119757.0,NaN,2323788.0,2347,NaN,0
2,3/7/2021,AR,5319.0,4308.0,22,1011.0,14926.0,14926.0,335.0,11,...,2736442.0,3380,NaN,NaN,NaN,481311.0,NaN,0,2736442.0,3380
3,3/7/2021,AS,0.0,NaN,0,NaN,NaN,NaN,NaN,0,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,3/7/2021,AZ,16328.0,14403.0,5,1925.0,57907.0,57907.0,963.0,44,...,7908105.0,45110,580569.0,NaN,444089.0,NaN,3842945.0,14856,7908105.0,45110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20775,1/17/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20776,1/16/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20777,1/15/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20778,1/14/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20779,1/13/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [266]:
# hence there are no duplicates in the provided dataset.

In [267]:
# Task 3 - Show last 100 row in new data-frames  and sort the data in descending order for based on the death rate of the dataset ?

In [268]:
df['DeathRate'] = df['death'] / (df['positive'] + df['negative'])
last_100_rows = df.tail(100)
sorted_df = last_100_rows.sort_values(by='DeathRate', ascending=False)
print("Last 100 rows:")
last_100_rows

Last 100 rows:

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease,DeathRate
20680,2/15/2020,VA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,4.0,NaN,NaN,NaN,0,NaN,0,NaN
20681,2/15/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20682,2/14/2020,FL,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20683,2/14/2020,MA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,13.0,0,NaN
20684,2/14/2020,NJ,0.0,NaN,0,0.0,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20775,1/17/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20776,1/16/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20777,1/15/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20778,1/14/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20779,1/13/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN

In [269]:
print("\nSorted data based on DeathRate in descending order:")
sorted_df

Sorted data based on DeathRate in descending order:

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease,DeathRate
20680,2/15/2020,VA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,4.0,NaN,NaN,NaN,0,NaN,0,NaN
20681,2/15/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20682,2/14/2020,FL,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20683,2/14/2020,MA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,13.0,0,NaN
20684,2/14/2020,NJ,0.0,NaN,0,0.0,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20775,1/17/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20776,1/16/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20777,1/15/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20778,1/14/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN
20779,1/13/2020,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0,NaN

In [270]:
# End of Assignment 1